#### pandas exercise

In [4]:
import pandas as pd
pd.DataFrame({'Apples': [30], 'Bananas': [21]})

   Apples  Bananas
0      30       21

In [5]:
import pandas as pd
pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]}, index = ['2017 Sales','2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [6]:
import pandas as pd
pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour','Milk','Eggs', 'Spam',], name = 'Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [8]:
import pandas as pd
csv = pd.read_csv(r".\data\winemag-data_first150k.csv")
csv.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [4]:
import pandas as pd
excel = pd.read_excel(".\data\WICAgencies2014ytd.xls", Sheet_name = 'Pregnant Women Participating')
excel.head()

       Note on WIC Agency Level Monthly Spreadsheets
0  This file contains monthly data for the curren...
1  currently 90 WIC State agencies:  the 50 geogr...
2  Guam, the Virgin Islands, American Samoa, Nort...
3  Sixteen spreadsheets are included in the follo...
4                                    Pregnant Women